{% extends 'my_app/base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="text-center my-5">
    <h2> {{article.title}} </h2>
    </div>
    <p style="position:absolute; left: 0;">{{article.post_date_time}}</p>
    <span style="position: absolute; right: 0; font-size: 20px; font-weight: 700;"> {{article.writer.first_name}} {{article.writer.last_name}} : כותב </span>
    <br>
    {{article.body}}
    {% if perms.my_app.can_add_post %}
    <br>
        <button class="btn btn-dark">edit post</button>
    {% endif %}
{% endblock content %}
